# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production

# SQLite Databases
*.db
database/*.db
server/database/*.db

# Logs
logs/
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
